div.top-bar {
  height: 50px;
  width: 100%;
  background-color: gray;
}

div.search-view {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 218, 218);
}

.search-input {
  margin-right: 1rem;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 35px;
  padding: 8px 30px;
  font-weight: bold;
  font-size: 16px;
}

.search-input::placeholder {
  color: rgb(160, 160, 160);
}

.fa-search {
  color: gray;
}

div.filters {
  background-color: lightgray;
  width: 30%;
  height: calc(100vh - 50px);
  display: inline-block;
}

div.results {
  width: 70%;
  height: calc(100vh - 50px);
  display: inline-block;
  background-color: red;
}
