div.top-bar {
  height: 50px;
  width: 100%;
  background-color: rgb(77, 77, 77);
}

div.search-view {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 218, 218);
}

.search-input {
  margin-right: 1rem;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 35px;
  padding: 8px 30px;
  font-weight: bold;
  font-size: 16px;
}

.search-input::placeholder {
  color: rgb(160, 160, 160);
}

.fa-search {
  color: gray;
}

.filter-view {
  display: flex;
}

div.filters {
  background-color: rgb(190, 190, 190);
  width: 25%;
  height: calc(100vh - 50px);
  display: inline-block;
}

div.results {
  width: 75%;
  height: calc(100vh - 50px);
  display: inline-block;
  background-color: lightgray;
}

.header {
  margin-left: 2rem;
  color: rgb(77, 77, 77);
}

form {
  margin-left: 1.5rem;
}

.input-button-container {
  margin-top: 1rem;
}

.users-result {
  margin-left: 2rem;
}
